@import "../../global.scss";

.portfolioList {
  font-size: 10px;
  margin-right: 20px;
  padding: 700px;
  border-radius: 10px;
  cursor: pointer;
  width: auto;

  @include mobile {
    pading: 20px;
    margin: 10px;
    text-align: center;
    width: 50%;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
